body {
	color: rgb(17 24 39);
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
padding: 0;
margin: 0;
}

.bg-gray-100 {
	background-color: rgb(243 244 246);
}

.bg-white{
	background-color: rgb(255 255 255);
}

.justify-start {
	display: flex;
	justify-content: flex-start;
}

.w-96 {
	width: 280px;
}



/* start side bar */

.sidebar {
	height:100vh;
}

.logo {
	padding: 60px 20px 20px 20px;
	margin: auto;
	width: 140px;
	border-bottom: 1px solid gray;
	
}


.logo img {
	width: 90px;
	border-radius: 50%;
	border: 1px solid gray;

}

.links {
	margin-top: 50px;
}

.links .links_heading {
	color: rgb(153, 153, 153) ;
	font-weight: 400;
	margin-bottom: 25px;
	padding: 0px 30px;

}

.links .link {
	padding-top: 10px;
}

.links .link:hover {
	background-color: rgb(243 244 246);
	cursor: pointer;
}


.links .link p {
	padding: 0px 30px;
}



/* start main contents */


.main {
	width:90%;
	padding: 20px;

}

.main h3 {
	margin-bottom: 30px;
}

.main .head {
	display: flex;
	justify-content: flex-start;
}

.head .cards {
	width: 40%;
}

.head .cards .card {
	background-color: white;
	width: 280px;
	padding: 20px 25px;
	margin: 10px ;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	border-radius: 12px;

}

.head .cards .card > p {
	font-weight: bold;
	font-size: large;
}

.head .cards .card span {
	font-size: smaller;
}

.head .cards .card .chead {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
}


.head .cards .card .chead svg {
	width: 47px;
	color: red;
}

.head .cards .fline {
	display: flex;
	justify-content: flex-start;
}

.head .cards .sline {
	display: flex;
	justify-content: flex-start;
}


.head .graphes{
	width: 60%;
}

.head .graphes .graphe {
	background-color: white;
	width: 480px;
	padding: 10px 20px;
	margin: 10px ;
	border-radius: 12px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

