body {
	color: var(--black);
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
padding: 0;
margin: 0;
}

.container {
	display: flex;
	justify-content: start;
}


/* some variables */

:root {
	--blue: rgb(59 130 246);
	--grey: rgb(243 244 246);
	--white: rgb(255 255 255);
	--black: rgb(17 24 39);
	--bgrey: rgb(75 85 99);


	/* --blue: rgb(59 130 246);
	--grey: rgb(75 85 99);
	--white: rgb(17 24 39);
	--black: rgb(255 255 255);
	--bgrey: rgb(75 85 99); */


  }

.bg-gray-100 {
	background-color: var(--grey);
}

.bg-white{
	background-color: var(--white);
}

.justify-start {
	display: flex;
	justify-content: flex-start;
}

.w-96 {
	width: 280px;
}

.card-header {
	background-color: var(--grey);
		padding: 11px 20px;
	margin-bottom: 10px;
}

/* navbar */

.nav {
	display: flex;
	justify-content: space-between;
	/* color: var(--blue); */
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav h4 {
	padding-left: 12px;
	
}

.nav div h3 {
	padding-right: 122px;
	
}

.actualiser {
	cursor: pointer;
}
/* .actualiser:hover {
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
} */

/* nav bar */


.opacity {
	opacity: 0.8;
}

nav {
	background-color: var(--white);
	padding: 8px 40px 8px 40px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	
	width: 80%;

}

nav .nav_links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

nav .nav_links p {
	font-size: smaller;
	font-weight: 400;
}

nav img {
	width: 44px;
	border-radius: 50%;
}

nav .search  {
	padding-right: 11px;
	position: relative;
}

nav .search svg {
	position: absolute;
	width: 17px;
	left: 5px;
	top: 4px;
	color: var(--bgrey);
}

nav .search input {
	border: 1px solid var(--bgrey);
	border-radius: 10px;
	outline: none;
	border-color: var(--grey);
	padding: 3px 10px 3px 25px;
	font-size: 0.75rem; /* 12px */
	line-height: 1rem; /* 16px */

}

nav .left {
	margin-top: 10px;
	color: var(--bgrey)
}

nav .left .sp {
	font-size: smaller;
	font-weight: 300;
}

nav .left .in {
	color: var(--blue);
}
/* start side bar */

.sidebar {
	height:100vh;
	/* width: 1300px; */
	/* width: 222px; */
	width: 15%;
	position: fixed;

}

.logo {
	padding-top: 60px;
	padding-bottom: 30px;
	margin: auto;
	width: 140px;
	border-bottom: 1px solid rgb(198, 198, 198);
	font-weight: bold;
	
}


.logo img {
	width: 110px;
	border-radius: 50%;
	/* border: 1px solid gray; */

}

.links {
	margin-top: 50px;
}

.links .active {
	color: var(--blue);
	border-left: 3px solid var(--blue);
}

.links .links_heading {
	color: var(--bgrey) ;
	font-weight: 400;
	margin-bottom: 25px;
	padding: 0px 30px;

}

.links .link {
	padding: 10px;
	display: flex;
	align-items: center;

}

.links .link svg {
	width: 18px;
}

.links .link:hover {
	background-color: var(--grey);
	cursor: pointer;
}


.links .link p {
	padding: 5px 30px;

}



/* start main contents */

.reload {
	display: flex;
	justify-content: flex-start;
	color: var(--blue);
	cursor: pointer;

}

.reload svg {
	width: 18px;
	padding-right: 8px;
	padding-bottom: 5px;
}


main {
	/* width:90%; */
	padding: 20px 40px;
	margin: auto;
	/* width: 1300px; */
	/* width: 50%; */
	margin-top: 55px;


}

.main {
	width: 85%;
	margin-left: 15%;
}

.main h3 {
	margin-bottom: 10px;
}

.main .head {
	display: flex;
	justify-content: flex-start;
}

.head {
	width: 100%;
	margin: auto;
}

.head .cards {
	width: 40%;
	margin-top: 30px;
	cursor: pointer;
}

.head .cards .card {
	background-color: var(--white);
	width: 280px;
	padding: 16px 20px;
	margin: 10px ;
	/* margin-left: 0; */
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	border-radius: 12px;

}



.head .cards .card > p {
	font-weight: bold;
	font-size: large;
}

.head .cards .card span {
	font-size: smaller;
}

.head .cards .card .chead {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
}

.head .cards .card  svg {
	width: 47px;
}

.head .cards  #c1 svg {
	color: rgb(239 68 68);;
}

.head .cards  #c2 svg {
	color: rgb(20 184 166);
}

.head .cards  #c3 svg {
	color: rgb(236 72 153);
}
.head .cards  #c4 svg {
	color: rgb(59 130 246);
}

.head .cards  #c2 span {
	font-size: x-small;
}

.head .cards .fline {
	display: flex;
	justify-content: flex-start;
}

.head .cards .sline {
	display: flex;
	justify-content: flex-start;
}


.head .graphes{
	width: 60%;
}

.head .graphes .graphe {
	background-color: var(--white);
	width: 580px;
	margin: 10px ;
	margin-left: 30px;
	border-radius: 12px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

/* begin body */



.body .graphes .graphe {
	background-color: var(--white);
	/* width: 820px; */
	margin: 10px ;
	border-radius: 12px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

.body .graphes .g2 {
	width: 625px;

}

.body .graphes .graphe .card-header {
	padding: 5px 20px;
	margin-bottom: 10px;
}

.body .graphes .g3 {
	width: 440px;
}


.card-content {
	padding: 0px 20px;
}

.body-graphes {
	display: flex;
	align-items: stretch;
}

.body #pie {
	padding-bottom: 12px;
	background-color: var(--white);
	width: 420px;
	margin: 10px ;
	border-radius: 12px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}




.line_3 {
	display: flex;
	justify-content: start;
}


 .graphe {
	background-color: var(--white);
	width: 580px;
	margin: 10px ;
	margin-left: 80px;
	border-radius: 12px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);


}



/* models */
.seetings_model {
	position: fixed;
	background-color: var(--white);
	width: 400px;
	height: 220px;
	top: 60px;
	right: 35%;
	text-align: center;
	color: var(--bgrey);
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	z-index: 10;
	


}

.relative {
	position: relative;
}

.seetings_model .ths {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.seetings_model .th {
	margin: 20px;
	padding: 10px;
	cursor: pointer;
}

.seetings_model .light {
	background-color: var(--grey) ;
}

.seetings_model .dark {
	background-color: var(--black) ;
	color: var(--white);
}

.seetings_model button {
	background-color: var(--white);
	border: 1px solid var(--blue);
	outline: none;
	border-radius: 6px;
	padding: 5px 10px;
	margin-top: 30px;
	margin-left: 250px;
}

.hidden {
	display: none;
}


/* footer */

footer {
	/* width: 80%; */

	background-color: var(--white);
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;

}

.numbers_info div {
	display: flex;
	justify-content: start;
	padding-top: 5px;
}

.numbers_info div svg {
	width: 15px;
	color: var(--blue);
	padding-top: 3px;
	padding-right: 6px;
}